.single {
    padding-top: 100px;
    padding-bottom: 165px;
}

.inner {
    padding-top: 28px;
}

.blog-detail {
    padding: 0 5%;
    max-width: 1200px;
    margin: 0 auto;
}


.single-title .category {
    background-color: #4D0000;
    color: white;
    font-size: 14px;
    width: 120px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    margin-bottom: 44px;
}

.single-title .title {
    font-size: 36px;
    color: white;
}

@media print, screen and (max-width: 768px) {
    .single-title .title {
        font-size: 26px;
    }
}

.entry {
    display: flex;
    padding-top: 45px;
}

@media print, screen and (max-width: 768px) {
    .entry {
        display: block;
    }
}

.entry .single-entry {
    flex-basis:70%
}

@media print, screen and (max-width: 768px) {
    .entry .single-entry {
        margin-bottom: 200px;
    }
}


.entry .single-entry .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.entry .single-entry .info .time {
    color: white;
    font-size: 24px;
}

.entry .single-entry .body {
    padding-top: 30px;
    color: white;
}

.entry .single-entry .body h2 {
    margin-top: 40px;
    padding-left: 22px;
    font-size: 36px;
    background-color: #030F55;
}

.entry .single-entry .body h3 {
    margin-top: 40px;
    font-size: 26px;
    padding-left: 22px;
    border-left: 8px #030F55 solid;
}

.entry .single-entry .body p {
    margin-top: 40px;
    font-size: 24px;
}

@media print, screen and (max-width: 768px) {
    .entry .single-entry .body h2 {
        font-size: 26px;
    }
    
    .entry .single-entry .body h3 {
        font-size: 20px;
    }
    
    .entry .single-entry .body p {
        font-size: 18px;
    }
}

.single-widget {
    margin-left: 56px;
    flex-basis:30%
}

@media print, screen and (max-width: 768px) {
    .single-widget {
        margin-left: 0;
    }
}

.widget-relative .title {
    color: white;
}

.widget-relative >.title {
    font-size: 21px;
    background-color: #030F55;
    text-align: center;
    height: 63px;
    line-height: 63px;
}

.widget-relative:nth-of-type(2) >.title {
    margin-top: 30px;
}

.widget-relative .list {
    margin-top: 30px;
}

.widget-relative .list .item +.item {
    margin-top: 40px;
}

.widget-relative .list .item a {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.widget-relative .list .item .title {
    flex: 1;
    font-size: 12px;
    margin-left: 17px;
}

.widget-relative .list .item .image {
    width: 40%;
}